[user]
    name = Lin Yiming
    email = linyiming@chunyu.me 

[color]
    diff = auto
    status = auto
    branch = auto
    log = auto
    ui = auto
    
[reviewboard]
        
[core]
    excludesfile = /Users/linym/.gitignore
    editor = /usr/bin/vim
    quotepath = false
    autocrlf = input

[i18n]
    commitencoding = gb2312

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lgdiff = log -p --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)'
	who = shortlog -s --
	svn-diff = !git-svn-diff
	post-review = !git-post-review
    oneline = log --pretty=oneline --since='2 days ago'⋅⋅
    onelog = log -p -1
    lg = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white) %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lga = log -all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white) %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lgg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold white) %an%C(reset)' --abbrev-commit 
[push]
	default = current
[pull]
	rebase = true
[mergetool]
    prompt = false
	keepBackup = false
[merge]
    summary = true
    verbosity = 1
    tool = FileMerge #vimdiff #fugitive
[apply]
    whitespace = nowarn
    
[diff]
      # Git diff will use (i)ndex, (w)ork tree, (c)ommit and (o)bject
      # instead of a/b/c/d as prefixes for patches
    mnemonicprefix = true
[mergetool "fugitive"]
    cmd = mvim -f -c \"Gdiff\" \"$MERGED\"
    keepbackup=false
