[user]
	name = Lin Yiming
	email = linym@jadenine.com

[color]
    diff = auto
    status = auto
    branch = auto
    log = auto
    ui = auto
    
[reviewboard]
        
[core]
	excludesfile = /Users/mac/.gitignore

[i18n]
	commitencoding = gbk

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	who = shortlog -s --
	svn-diff = !git-svn-diff
	post-review = !git-post-review
    oneline = log --pretty=oneline --since='2 days ago'⋅⋅
    onelog = log -p -1
